body {
    background-color: bisque;
    text-align: center;
    
  }
  
  
  .program-list {
    
    background-color: white;
    width:50%;
    list-style-type: none;

    padding: 0;
  }

  .program-list__item{
    border-top: 1px solid lightgray;
    padding: 10px;
  }
  
  .h1 {
    border-top-style: solid;
    
  }

  .menu {
    position: absolute;
    width: 300px;
    height: 100%;
    background-color: #333;
}